:root {
   --color-grey-light-1: #f9f7f6;
   --color-grey-light-2: #aaa;

   --color-secondary: #101d2c;

   --color-primary: #393d4e;
   --color-primary-1: #2e3341;

   --color-blue: #008BFF;
   --color-blue-primary: #00007E;
   --color-blue-primary-1: #BDCBFF;
   --color-blue-primary-2: #E2F2FF;

   --bg-color-1: #ffffff;
   --dark-text: #0a0800;
   --grey-text: #7e8086;

   --color-grey-dark-1: #54483a;
   --color-grey-dark-2: #6d5d4b;

   --grey-light-1: #faf9f9;
   --grey-light-2: #f4f2f2;
   --grey-light-3: #f0eeee;
   --grey-light-4: #ccc;

   --color-dark: #1f1f1f;

   --grey-dark-1: rgb(58, 58, 58);
   --grey-dark-2: #777;
   --grey-dark-3: #999;

   --headerTop: #794302;

   --scrollbarBG: #cfd8dc;
   --thumbBG: #916b2d;

   --warning-red: rgb(243, 64, 64);

   --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
   --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, 0.08);
   --shadow-dark-2: 0 2rem 6rem rgba(0, 0, 0, 0.2);
   --shadow-dark-3: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

//SASS VARIABLE
$font-variable: 1.4rem;
$font-primary: "nunito", sans-serif;
$font-display: "josefin sans", Sans-serif;
$font-weight: 400;
$font-size: 1.4rem;
//RESPONSIVE VARIABLE
$bp-largest: 75em; // 1200/16 Tab-layout
$bp-larger: 58.75em; // 940
$bp-large: 56.25em; //900
$bp-medium: 51.875em; //830
$bp-medium-1: 49.0625em; //785
$bp-medium-2: 46.25em; //740
$bp-medium-3: 39.375em; //630
$bp-small: 35.625em; //570
$bp-small-res: 30.625em; //490
$bp-small-x: 26.5em; //424
$bp-small-x1: 25.625em; //410
$bp-small-2: 22.25em; //356
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   // font-size: 62.5%; //1rem
   box-sizing: border-box;
   @media only screen and (max-width: $bp-largest) {
      // font-size: 55%;
   }
}

body {
   font-family: $font-primary;
   color: var(--color-grey-dark-1);
   font-weight: 300;
   line-height: 1.6;
   background-color: var(--color-grey-light-1);
}

.container {
   //    background-color: var(--bg-color-1);
   //    margin: 0.3rem;
   // height: 120vh;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

::selection {
   background-color: transparent;
}
